@page "/"
@using SmartDepo.Models
@rendermode InteractiveServer
@inherits TramBase

<PageTitle>Depo</PageTitle>

<h1>Depo</h1>

<p>To simulate planning schedule for trams on one track.</p>
<p class="fst-italic">Clicking the button will schedule next available tram. By clicking on already scheduled tram you can free it from it's schedule.</p>

@if (Trams == null)
{
    <div class="container text-center">
        <button class="btn btn-dark" @onclick="FetchData">Fetch Data</button>
    </div>
}
else
{
    <div class="container text-start">
        <button id="btn_next" class="btn btn-dark" @onclick="ScheduleNext">Schedule Next</button>
    </div>
    <br />

    <div class="container col-12">
        @{
            int i = 1;
        }

        @foreach (var tram in Trams)
        {
            if (@tram.HasSchedule)
            {
                <label class="badge bg-success col-1" @onclick="() => FreeTram(tram)">
                    <span class="badge bg-secondary">
                        @i.
                    </span>
                    <span>
                        Id=@tram.Id
                    </span>
                </label>
            }
            else
            {
                <label class="badge bg-danger col-1">
                    <span class="badge bg-secondary">
                        @i.
                    </span>
                    <span>
                        Id=@tram.Id
                    </span>
                </label>
            }
            i++;
        }
    </div>
    
}

@code {
}
